

#map {
	position: relative;
    height: 100%;
    display: block;
    overflow: visible;
}

#mapView {
	bottom: 0;
	left: 0px;
	position: fixed;
	right: 0;
	top: 40px;
	z-index: -1;
	overflow: visible;
}

@media (max-width: 979px) {
	#mapView {
		top: 60px;
	}
}